[submodule "礼逆袭应用仓库/红旗输入法/cnum"]
	path = 礼逆袭应用仓库/红旗输入法/cnum
	url = git@github.com:englianhu/cnum.git

[submodule "礼逆袭应用仓库/xiaozhuan"]
	path = 礼逆袭应用仓库/xiaozhuan
	url = git@github.com:englianhu/xiaozhuan.git

[submodule "礼逆袭应用仓库/pinyin-pro"]
	path = 礼逆袭应用仓库/pinyin-pro
	url = git@github.com:englianhu/pinyin-pro.git

[submodule "礼逆袭应用仓库/红旗输入法/rime_OpenCC_emoji_symbols"]
	path = 礼逆袭应用仓库/红旗输入法/rime_OpenCC_emoji_symbols
	url = git@github.com:englianhu/rime_OpenCC_emoji_symbols.git
